<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Challenges</title>
    <link rel="stylesheet" href="./static/css/style.css">
    <script src="https://replit.com/public/js/repl-auth-v2.js"></script>
    <link rel="icon"
      type="image/ico"
      href="./static/favicon.ico">
    <span id="data" hidden>{{ sheet }}</span>
</head>
<body style="background:#111;color:white;text-align:center;">
    {{ button }}
    <h1><span class="b">Python</span> <span class="y">Challenges</span></h1>
    <footer>Site created by Igyeom Park (GISKL, Year 9)</footer><br>
    <!--input type="text" placeholder="Search by Code..." maxlength="6" id="code">
    <input type="text" placeholder="Search by Title..." id="title"-->
    <table id="table">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Points</th>
            <th>Details</th>
        </tr>
    </table>
    <script src="./static/js/live.js"></script>
</body>
</html>