<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit</title>
    <link rel="stylesheet" href="./static/css/style.css">
    <link rel="icon"
      type="image/ico"
      href="./static/favicon.ico">
</head>
<body style="background:#111;color:white;text-align:center;">
    <h1>Create a Submission</h1>
    <form action="submit-process" method="POST">
        <input type="text" placeholder="Challenge Code" name="code">
        <input type="text" placeholder="Link to Your Code" name="link">&nbsp;<div style="height: 32pt; width: 200px; margin: auto; background: coral; color: white; font-size: 24pt; cursor: pointer; display: inline-block"><input type="submit" value="Submit"></div>
    </form>
    <footer>Site created by Igyeom Park (GISKL, Year 9)</footer><br>
</body>
</html>